@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");
.header {
  color: #282c34;
  position: relative;
  padding: 55px 0;
  text-align: center;
}

.h1 {
  color: #4aa1f3;
  font-size: 3rem !important;
  text-align: center;
  padding: 0 10px;
  font-family: "Turret Road", cursive;
  font-family: "Slackey", cursive;
  letter-spacing: 1px;
}

h4 {
  color: #506175;
  font-size: 1.5rem;
}
.header {
  padding: 45px;
}
